@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600;700&family=Sora:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
    /* Font Family */
    --font-mono: "JetBrains Mono", monospace;
    --font-sans: "Sora", sans-serif;

    /* Colors */
    --color-bg: #0f0f0f;
    --color-surface: #1a1a1a;
    --color-border: #2a2a2a;
    --color-muted: #555;
    --color-accent: #e8ff47;
    --color-text: #e8e8e8;
    --color-dim: #888;
}


@layer base {
    body {
        @apply bg-bg text-text font-sans;
    }

    .tag {
        @apply inline-block font-mono text-[0.7rem] px-2 py-0.5 border border-border rounded-sm text-dim whitespace-nowrap;
    }

    .tag-accent {
        @apply border-accent text-accent;
    }

    pre {
        @apply font-mono;
    }

    /* Tombol Copy */
    .copy-btn:active {
        @apply scale-95 transition-transform;
    }

    .project-card {
        transition: border-color .2s ease, background-color .2s ease;
        cursor: pointer;
    }

    .project-card:hover {
        border-color: #555;
        background-color: #1f1f1f;
    }

    /* Custom scrollbars */
    #modal,
    #modal .grid {
        scrollbar-width: thin;
        scrollbar-color: #2a2a2a #0f0f0f;
    }

    #modal::-webkit-scrollbar,
    #modal .grid::-webkit-scrollbar {
        width: 4px;
    }

    #modal::-webkit-scrollbar-thumb,
    #modal .grid::-webkit-scrollbar-thumb {
        background: #2a2a2a;
        border-radius: 2px;
    }
}